<div class="main">
	<div class="header">
		<img class="header__image" src="../assets/sidebar.png"/>
		<img class="header__image" src="../assets/cart.png"/>
	</div>
	<div class="top-image">
		<img class="top-image__image" src="../assets/headimage.png"/>
	</div>
	<div class="head-content">
		<div class="">
			<div class="head-content__main-text">
				Everyday rinse and reload
			</div>
			<div class="head-content__info-text">
				Achieve your dream skin goal with this complete package of skincare produts that will rejuvenate your day.
			</div>
			<div class="">
				<img src="../assets/rating.png"/>
			</div>
		</div>
	</div>
</div>