.main {
    background:#08090C;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #585858;
}

.header__image:hover {
    cursor: pointer;
}

.top-image {
    display: flex;
    justify-content: center;
    margin: 20px 20px 0px 20px;
    object-fit: contain;
}

.head-content {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

.head-content__main-text {
    margin-top: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 136.2%;
    color: #FFFFFF;
}

.head-content__info-text {
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 193.7%;
    color: #C4CACF;
    margin: 10px 0px 10px 0px;
}

.head-content__content-price {
    margin-top: 40px;
    display: flex;
}

.head-content__price {
    margin-right: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.head-content__discount-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-decoration-line: line-through;
}

.plan {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.plan__one-month {
    background: #21272C;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
}

.plan__one-month__content {
    margin-left: 10px;
}

.plan__one-month__content__tag {
    width: 82px;
    margin-top: 10px;
    display: flex;
    background: #067BD8;
    border-radius: 8px;
}

.plan__one-month__content__popular {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 223.7%;
    color: #FFFFFF;
}

.plan__one-month__content__tag__image {
    margin-left: 7px;
}

.plan__one-month__content__details {
    margin-top: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 136.2%;
    color: #FFFFFF;
}

.plan__one-month__content__saving__price {
    margin-top: 10px;
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 193.7%;
    color: #465D68;
}

.plan__one-month__content__saving {
    margin-top: 10px;
    display: flex;
}

.plan__one-month__content__saving__value {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 136.2%;
    color: #24DB6D;
}

.plan__one-month__content__saving__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 136.2%;
    color: #DB9D24;
}

.plan__one-month__price {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.plan__one-month__current-price {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 223.7%;
    text-align: right;
    color: #FFFFFF;
}

.plan__one-month__discount-price {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 223.7%;
    text-align: right;
    text-decoration-line: line-through;
    color: #4C6070;
}

.plan__three-month {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #374B5B;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.add-to-cart {
    margin-top: 20px;
    padding: 10px 0px 10px 0px; 
    display: flex;
    justify-content: center;
    background: #13324A;
    box-shadow: 0px 1px 15px rgba(2, 2, 2, 0.04), inset 0px 0px 15px rgba(88, 88, 88, 0.3);
}

.add-to-cart__text {
    margin-left: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

@media screen and (max-width: 600px){
    .top-image__image {
        width: 100%;
    }
}
