<div class="main">
	<!-- Navbar -->
	<div class="header">
		<img class="header__image" src="../assets/sidebar.png"/>
		<img class="header__image" src="../assets/cart.png"/>
	</div>
	<!-- <div class="top-image">
	</div> -->

	<!-- Product Details -->
	<div class="head-content">
		<div class="">
			<!-- Hero Image -->
			<div class="">
				<img class="top-image__image" src="../assets/headimage.png"/>
			</div>
			<!-- Main Content -->
			<div class="head-content__main-text">
				Everyday rinse and reload
			</div>
			<!-- Content Description -->
			<div class="head-content__info-text">
				Achieve your dream skin goal with this complete package of skincare produts that will rejuvenate your day.
			</div>
			<div class="">
				<img src="../assets/rating.png"/>
			</div>
			<!-- Price Details -->
			<div class="head-content__content-price">
				<div class="head-content__price">
					&#8377; 899
				</div>
				<div class="head-content__discount-price">
					&#8377; 1299
				</div>
			</div>

			<div class="plan__one-month">
				<div class="plan__one-month__content">
					<div class="plan__one-month__content__tag">
						<img class="plan__one-month__content__tag__image" src="../assets/star.png"/>
						<div class="plan__one-month__content__popular">
							MOST POPULAR
						</div>
						<img src="../assets/star.png"/>
					</div>
					<div class="plan__one-month__content__details">
						1 Months Pack (4 tubes)
					</div>
					<div class="plan__one-month__content__saving__price">
						Savings: ₹200
					</div>
					<div class="plan__one-month__content__saving">
						<div class="plan__one-month__content__saving__value">
							38% Saved
						</div>
						<div class="plan__one-month__content__saving__text">
							Best Results
						</div>
					</div>
				</div>
				<div class="plan__one-month__price">
					<div class="">
						<div class="plan__one-month__current-price">
							&#8377; 595
						</div>
						<div class="plan__one-month__discount-price">
							&#8377; 795
						</div>
					</div>
				</div>
			</div>

			<div class="plan__three-month">
				<div class="plan__one-month__content">
					<div class="plan__one-month__content__details">
						3 Months Pack (12 tubes)
					</div>
					<div class="plan__one-month__content__saving__price">
						Savings: ₹200
					</div>
					<div class="plan__one-month__content__saving">
						<div class="plan__one-month__content__saving__value">
							38% Saved
						</div>
					</div>
				</div>
				<div class="plan__one-month__price">
					<div class="">
						<div class="plan__one-month__current-price">
							&#8377; 899
						</div>
						<div class="plan__one-month__discount-price">
							&#8377; 999
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Plans -->
	<div class="plan">
		
	</div>
</div>